@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}
.likes{
    border: 3px solid black;
    box-shadow: 5px 5px black;
    font-size: 1rem;
    width: 100px;
    height: 40px;
    background-color: #FFB833;
}
.container{
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    width: 70%;
}
.container-info{
    flex: 2;
}
.info{
    border: 3px solid black;
}
.user-info{
    margin: 20px;
    display: flex;
    flex-direction: column;
    height: 180px;
    margin-left: 30px;
}
.user{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.user h2{
    flex: 4;
}
.user p{
    flex: 1;
}
.definicion{
   margin-top: 20px;
}
.add{
    flex: 1;
}


