@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

*{
    margin: 0;
    font-family: 'Comic Neue', Arial, Helvetica, sans-serif;
}

.nav{
    background-color: cornflowerblue;
    color: white;
    display: flex;
    align-items: center;
    height: 70px;
}
.nav-title{
    flex: .9;
    text-align: right;
    font-size: 2.5rem;
}
.nav-links{
    display: flex;
    flex: 2;
    justify-content: center;
    font-size: 1.5rem;
}
.nav-links li{
    list-style: none;
    margin-right: 5%;
}
li a{
    text-decoration: none;
    color: white;
}
.city{
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 70px;
    width: 70%;
    justify-content: space-between;
    border-bottom: 2px solid black;
    font-size: 1.5rem;
}
.selectScale{
    display: flex;
    gap: 5px;
}
#grados{
    font-size: 1rem;
}
.container{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 10px;
    margin-top: 20px;
}
.clima{
    display: flex;
    width: 20%;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    
}
.clima h3, .clima p{
    margin: 15px;
}
.clima h3{
    font-size: 1.5rem;
}
.clima img{
    border-radius: 50%;
    width: 80%;
}
.temp{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: 1.5rem;
}
.temp p:first-child{
    color: red;
}
.cookie{
    position: fixed;
    display: flex;
    padding: 10px;
    width: 70%;
    border: 3px solid black;
    align-items: center;
    left: 200px;
    line-height: 1.5em;
}
.cookie img{
    height: 70%;
    
}
.cookie-text{
    padding: 10px;
    flex: 1;
}
.cookie-text h4{
    font-size: 1.5rem;
    
}

button{
    background-color:cornflowerblue;
    color: white;
    border: 3px solid black;
    padding: 10px;
    box-shadow: 5px 5px black;
    font-size: 1rem;
    margin: 10px;
}